* {
    font-family: "Arial";
}

.column-container {
    display: flex;
    flex-direction: column;
}

.row-container,.reverse-row-container {
    display: flex;
    flex-direction: row;
}
.row-container {
    flex-flow: row;
}

.reverse-row-container {
    flex-flow: row-reverse;
}

.comments,.comment-msg {
    margin: 0px 5px;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.comments-section {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.comment {
    margin: 15px 0px;
}

.submit-form {
    background: #efefee;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
    color: #a3a3a3
}

.submit-btn {
    background: #2085cf;
    width: 100px;
    color: white;
}

input[type='button']:disabled {
    color: #929291
}

label,img{
    margin: 5px
}

img {
    height:80px;
    width:80px;
}

p {
    margin: 0px;
}

input,textarea {
    margin: 5px;
    border-radius: 4px;
    border: 1px #e7e7e7 solid;
    padding: 10px;
}


